extends ../layout.pug

block content
    header.masthead(style="background-image: url('img/plain-post.png')")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .site-heading
             
                h1 Welcome to my Blog
                h2.subheading We're going to talk about anything and everything.
                a.meta(href='https://ca.linkedin.com/in/devon-khosa-0b94a61a2') Devon Khosa
                
    article
       .container
        .row
        .col-lg-8.col-md-10.mx-auto
            p Hello everyone. My name is Devon, and this is the first post on my own personal, homepage blog. A warm welcome to anyone who stops by to read what I have been up to!
    hr

