extends ../layout.pug

block content
    header.masthead(style="background-image: url('img/plain-post.png')")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .site-heading
             
                h1 Update
                h2.subheading We're officially back at it, once again!
                a.meta(href='https://ca.linkedin.com/in/devon-khosa-0b94a61a2') Devon Khosa
                
    article
       .container
        .row
        .col-lg-8.col-md-10.mx-auto
            p Been away for a bit too long, but I've learned quite a lot along the way. 2021 has a lot going on for me this year and I truly hope I'll be able to get as much as I can done.
    hr

