extends ./layout.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Email Successfully Sent
      hr.my-4
      p.lead.intro I'll get back to you as soon as I can!
      input.btn.btn-secondary.btn-sm(type='button' value='Return to Previous Page' onclick="window.location.href='/contact'")
