doctype html
html(translate='no')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')
    link(rel='icon' href='/img/favicon.ico' type='image/x-icon')
    title Devon Khosa
    link(rel="stylesheet", href="/css/styles.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    block styles
    block scripts
  body
    nav.navbar.nav-justified.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.shadow
      a.navbar-brand(href='/')
        img(src='/img/navbar-brand.png' width='40' height='40')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') Home 
              span.sr-only (current)
          //li.nav-item
            a.nav-link(href='/resume') Resume
          li.nav-item
            a.nav-link(href='/projects') Projects
            //Portfolio, renamed recently to Projects 
          li.nav-item
            a.nav-link(href='/blog') Blog
          li.nav-item
            a.nav-link(href='/contact') Contact
    block content
  footer
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            a(href='#')
              span.fa-stack.fa-lg
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='#')
              span.fa-stack.fa-lg
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='#')
              span.fa-stack.fa-lg
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-github.fa-stack-1x.fa-inverse
          p.copyright.text-muted &copy; Devon Khosa 
            script(type='text/javascript') document.write(new Date().getFullYear());
            
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
script(src='http://code.jquery.com/jquery-1.11.0.min.js')
script(src="/js/scripts.js")